.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .image-container {
    position: relative;
  }
  .buttons {
    margin-top: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .title {
    text-align: center;
    margin-bottom: 20px; /* 제목 아래에 여백 추가 */
    font-size: 24px; /* 제목 폰트 크기 조정 */
  }
